PackageIdentifier: DoiT.dci
PackageVersion: __VERSION__
PackageLocale: en-US
Publisher: DoiT
PublisherUrl: https://www.doit.com
PublisherSupportUrl: https://github.com/doitintl/dci-cli/issues
PackageName: dci
ShortDescription: DoiT Cloud Intelligence CLI
Moniker: dci
Tags:
  - cli
  - doit
  - finops
License: See repository
LicenseUrl: https://github.com/doitintl/dci-cli
ReleaseNotesUrl: https://github.com/doitintl/dci-cli/releases/tag/v__VERSION__
ManifestType: defaultLocale
ManifestVersion: 1.6.0
